.main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.main.touched {
  background-color: red;
}

.video {
  width: 480px;
  height: 360px;
  background-color: #333;
}

.control {
  margin-top: 12px;
}

.btn  {
  margin: 0 8px;
  padding: 4px 16px;
  font-size: 1.4rem;
}